# Dependencies
/vendor/
/node_modules/

# Docker volumes
winmart_db_data/

# IDE & OS files
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
.DS_Store

# Git
.git/
.gitignore

# Docs
*.md
LICENSE

# Temp files
*.log
*.tmp
