Options -MultiViews
RewriteEngine On
RewriteBase /WinmartMVC/
# Thay 'ten_du_an_cua_ban' bang ten thu muc trong htdocs

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]